HOST=0.0.0.0
PORT=3000
LOG_LEVEL=INFO
POSTGRES_HOST=localhost
POSTGRES_DB=owlfacerec
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
RUSTFACE_MIN_FACE_SIZE=50
RUSTFACE_SCORE_THRESH=2.5
RUSTFACE_PYRAMID_SCALE_FACTOR=0.9
RUSTFACE_SLIDE_WINDOW_STEP_X=10
RUSTFACE_SLIDE_WINDOW_STEP_Y=10